$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
// $bootstrap-sass-asset-helper: true;
$navbar-default-bg: white !default;
$font-family-sans-serif: "Helvetica Neue", "Segoe UI", Roboto, sans-serif;
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$fa-font-path: '../../node_modules/font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';

$use-fade: true;
$use-bounce: true;
@import '~animate-sass/_animate';

body {
    padding-top: 50px;
    height: 100%;
}

.animated-page-wrapper {
    position: absolute;
    top: 50px;
    width: 100%;
}

.fade-appear,
.fade-enter {
    opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
    transition: opacity .3s linear;
    opacity: 1;
}

.fade-exit {
    transition: opacity .2s linear;
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}


.navbar-brand {
    display: flex;
    align-items: center;
}

    .navbar-brand > img {
        padding-right: 14px;
    }

.down-link {
    font-size: 48px;
    bottom: 15px;
    text-align: center;
}

#hero {
    color: white;
    background-color: darkgray;
    position: relative;
    display: block;
    transform-style: preserve-3d;
}

.container
{
    height: 100%;
}

#tagline {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-size: 65px;
}

a {
    color: lightgray;
}

.down-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#footer {
    background-color: lightgray;
    color: black;
}

footer {
    text-align: center;
}

.count {
    text-align: center;
    font-size: 150px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: -15px;
    padding: 0 15px;
}

.count-header {
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

.counter {
    display: inline-block;
    min-width: 300px;
    border: 2px solid gray;
    background-color: lightgray;
}

/* Socials links */
#share {
    margin: 50px 0 0;
}

.socials-links {
    list-style: none;
    padding: 0;
    margin: 0;
}
a
{
    color: lightgray;
}



.socials-links li {
    display: inline-block;
    margin: 0 7px;
    font-size: 28px;
}

.omb_authTitle
{
    text-align: center;
    line-height: 300%;
}

.omb_socialButtons { 
    color: whitesmoke;
    opacity: 0.9;
}

.btn-block {
    padding-left: 0;
    padding-right: 0;
}

a:hover {
    color: white;
    opacity: 1;
}

.omb_btn-facebook {
    background: #3b5998;
}

.omb_btn-twitter {
    background: #00aced;
}

.omb_btn-google {
    background: #c32f10;
}

.omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.omb_hrOr
{
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}


.omb_loginForm .input-group.i {
    width: 2em;
}

.omb_loginForm .help-block {
    color: red;
}

.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
